<a href="https://colab.research.google.com/github/sorayabailey23/Group-93/blob/main/Assessor_Data_Cleaning_2011.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assessor Data Cleaning - 2011

In [ ]:
#importing libraries + drive

from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import numpy as np
import pandas as pd
import math

##Uploading + Exploring the Data 

I'll first upload the raw data and see what features it includes.

In [ ]:
#Importing data from 2011 in Los Angeles 
records_df = pd.read_csv("gdrive/My Drive/Team 93 Capstone Project/data/Assessor_Parcels_Data_2011.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (37) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
records_df.head()

   Unnamed: 0 situszip  ... propertylocation  situszip5
0           0           ...              NaN        NaN
1           1           ...              NaN        NaN
2           2           ...              NaN        NaN
3           3           ...              NaN        NaN
4           4           ...              NaN        NaN

[5 rows x 52 columns]

In [ ]:
records_df.columns

Index(['Unnamed: 0', 'situszip', 'taxratearea_city', 'ain', 'rollyear',
       'taxratearea', 'assessorid', 'usetype', 'usecode', 'usecodedescchar1',
       'usecodedescchar2', 'usecodedescchar3', 'usecodedescchar4',
       'totbuildingdatalines', 'yearbuilt', 'effectiveyearbuilt', 'sqftmain',
       'bedrooms', 'bathrooms', 'units', 'recordingdate', 'roll_landvalue',
       'roll_landbaseyear', 'roll_impvalue', 'roll_impbaseyear',
       'roll_totlandimp', 'roll_homeownersexemp', 'roll_realestateexemp',
       'roll_fixturevalue', 'roll_fixtureexemp', 'roll_perspropvalue',
       'roll_perspropexemp', 'istaxableparcel', 'roll_totalvalue',
       'roll_totalexemption', 'nettaxablevalue', 'parcelclassification',
       'adminregion', 'cluster', 'parcelboundarydescription', 'situshouseno',
       'situsfraction', 'situsdirection', 'situsstreet', 'situsunit',
       'situscity', 'rowid', 'center_lat', 'center_lon', 'location_1',
       'propertylocation', 'situszip5'],
      dtype='object')

In [ ]:
#verifying that we pulled data for the correct city + year 
records_df["taxratearea_city"].unique()

array(['LOS ANGELES'], dtype=object)

In [ ]:
records_df["rollyear"].unique()

array([2011])

In [ ]:
records_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 793192 entries, 0 to 793191
Data columns (total 52 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Unnamed: 0                 793192 non-null  int64
 1   situszip                   793192 non-null  object
 2   taxratearea_city           793192 non-null  object
 3   ain                        793192 non-null  int64
 4   rollyear                   793192 non-null  int64
 5   taxratearea                793192 non-null  int64
 6   assessorid                 793192 non-null  object
 7   usetype                    792986 non-null  object
 8   usecode                    793192 non-null  object
 9   usecodedescchar1           792986 non-null  object
 10  usecodedescchar2           792986 non-null  object
 11  usecodedescchar3           792986 non-null  object
 12  usecodedescchar4           792986 non-null  object
 13  totbuildingdatalines       793192 non-null  int64
 14  yearbuilt                  793192 non-null  int64
 15  effectiveyearbuilt         793192 non-null  int64
 16  sqftmain                   793192 non-null  int64
 17  bedrooms                   793192 non-null  int64
 18  bathrooms                  793192 non-null  int64
 19  units                      793192 non-null  int64
 20  recordingdate              793192 non-null  int64
 21  roll_landvalue             793192 non-null  int64
 22  roll_landbaseyear          793192 non-null  int64
 23  roll_impvalue              793192 non-null  int64
 24  roll_impbaseyear           793192 non-null  int64
 25  roll_totlandimp            793192 non-null  int64
 26  roll_homeownersexemp       793192 non-null  int64
 27  roll_realestateexemp       793192 non-null  int64
 28  roll_fixturevalue          793192 non-null  int64
 29  roll_fixtureexemp          793192 non-null  int64
 30  roll_perspropvalue         793192 non-null  int64
 31  roll_perspropexemp         793192 non-null  int64
 32  istaxableparcel            793192 non-null  object
 33  roll_totalvalue            793192 non-null  int64
 34  roll_totalexemption        793192 non-null  int64
 35  nettaxablevalue            793192 non-null  int64
 36  parcelclassification       793192 non-null  object
 37  adminregion                793192 non-null  object
 38  cluster                    793192 non-null  int64
 39  parcelboundarydescription  793192 non-null  object
 40  situshouseno               793192 non-null  int64
 41  situsfraction              793192 non-null  object
 42  situsdirection             793192 non-null  object
 43  situsstreet                793192 non-null  object
 44  situsunit                  793192 non-null  object
 45  situscity                  793192 non-null  object
 46  rowid                      793192 non-null  int64
 47  center_lat                 793100 non-null  float64
 48  center_lon                 793100 non-null  float64
 49  location_1                 793100 non-null  object
 50  propertylocation           751611 non-null  object
 51  situszip5                  751602 non-null  float64
dtypes: float64(3), int64(29), object(20)
memory usage: 314.7+ MB

## Relevance 

The dataset includes a lot of information that I don't need. For this section, I'll 


1.   Drop the columns that I don't need 
2.   Check the remaining columns for unique values
1.   Handle missing values, including dropping data that does not include zip codes

###Determining which columns to drop

In [ ]:
#dropping irrelevant columns

records_df = records_df.drop(columns=['Unnamed: 0', 'situszip','ain',
       'taxratearea', 'usetype', 'usecode','usecodedescchar3', 'usecodedescchar4',
       'totbuildingdatalines', 'yearbuilt', 'effectiveyearbuilt', 'sqftmain',
       'bedrooms', 'bathrooms', 'units', 'recordingdate', 'roll_landvalue',
       'roll_landbaseyear', 'roll_impvalue', 'roll_impbaseyear',
       'roll_totlandimp', 'roll_homeownersexemp', 'roll_realestateexemp',
       'roll_fixturevalue', 'roll_fixtureexemp', 'roll_perspropvalue',
       'roll_perspropexemp', 'istaxableparcel', 'roll_totalvalue',
       'roll_totalexemption',
       'adminregion', 'cluster', 'parcelboundarydescription', 'situshouseno',
       'situsfraction', 'situsdirection', 'situsstreet', 'situsunit',
       'situscity', 'rowid', 'center_lat', 'center_lon', 'location_1','propertylocation', "parcelclassification"])

In [ ]:
records_df.head()

  taxratearea_city  rollyear  ... nettaxablevalue situszip5
0      LOS ANGELES      2011  ...               0       NaN
1      LOS ANGELES      2011  ...               0       NaN
2      LOS ANGELES      2011  ...               0       NaN
3      LOS ANGELES      2011  ...               0       NaN
4      LOS ANGELES      2011  ...         5765426       NaN

[5 rows x 7 columns]

In [ ]:
#renaming columns to more recongizable names
records_df.columns=["city", "year", "assessor_id","general_use", "specific_use","net_value", "zip_code"]

###Handling Missing Values in ["assessor_id"] (none!)

In [ ]:
len(records_df['assessor_id'].unique())

793192

In [ ]:
records_df['assessor_id'].isnull().sum()

0

In [ ]:
#this series is good to go

### Handling Missing Values in ["general_use"]

In [ ]:
#we have entries w/ nan and (unavailable) string
records_df["general_use"].unique()

array(['Miscellaneous', 'Residential', 'Commercial', 'Industrial',
       'Recreational', nan, '(unavailable)', 'Dry Farm', 'Institutional',
       'Irrigated Farm'], dtype=object)

In [ ]:
#checking how many nans in general_use
records_df['general_use'].isnull().sum()

206

In [ ]:
#replacing nan with (unavailable)
records_df["general_use"] = records_df["general_use"].fillna('(unavailable)')
records_df["general_use"].unique()

array(['Miscellaneous', 'Residential', 'Commercial', 'Industrial',
       'Recreational', '(unavailable)', 'Dry Farm', 'Institutional',
       'Irrigated Farm'], dtype=object)

###Handling Missing Values in ["specific_use"]

In [ ]:
#there is an empty string in this column that we should replace with nan or Not Available 
records_df["specific_use"].unique()

array(['Government Owned Property', 'Single Family Residence',
       'Office Building', 'Parking Lot (Commercial Use Property)',
       'Motion Picture, Radio and Television Industry',
       'Auto, Recreation Equipment, Construction Equipment Sales and Service',
       'Privately Owned', 'Heavy Manufacturing', 'Light Manufacturing',
       'Utility', 'Shopping Center (Neighborhood, Community)',
       'Five or More Units or Apartments (Any Combination)',
       'Club, Lodge Hall, Fraternal Organization', 'Commercial',
       'Industrial', 'Rights of Way', 'Store', nan, '(unavailable)',
       'Desert', 'Rivers and Lakes', 'Open Storage',
       'Double, Duplex, or Two Units', 'Waste',
       'Three Units (Any Combination)',
       'Parking Lot (Industrial Use Property)', ' ', 'Golf Course',
       'Store Combination', 'Church', 'Petroleum and Gas',
       'Four Units  (Any Combination)', 'Shopping Center (Regional)',
       'Homes for Aged and Others', 'Mineral Processing',
       "Children's Day Care Center", 'Restaurant, Cocktail Lounge',
       'Professional Building', 'Bowling Alley', 'School (Private)',
       'Supermarket', 'Service Station',
       'Warehousing, Distribution, Storage', 'Hospital',
       'Hotel and Motel', 'Manufactured Home',
       'Cemetery, Mausoleum, Mortuary', 'Animal Kennel',
       'Non-Auto Service and Repair Shop, Paint Shop, or Laundry',
       'Bank, Savings and Loan', 'Department Store',
       'Athletic and Amusement Facility', 'College, University (Private)',
       'Nursery or Greenhouse', 'Skating Rink', 'Manufactured Home Park',
       'Theater', 'Lumber Yard', 'Food Processing Plant',
       'Rooming/Boarding House', 'Wholesale and Manufacturing Outlet',
       'Dump Site', 'Poultry, etc.', 'Dairy', 'Race Track',
       'Pipeline, Canal', 'Camp', 'Pasture', 'Fruits and Nuts',
       'Water Recreation', 'Senior Day Care Center', 'Field Crops'],
      dtype=object)

In [ ]:
records_df["specific_use"]= records_df["specific_use"].fillna('(unavailable)')

In [ ]:
records_df["specific_use"].unique()

array(['Government Owned Property', 'Single Family Residence',
       'Office Building', 'Parking Lot (Commercial Use Property)',
       'Motion Picture, Radio and Television Industry',
       'Auto, Recreation Equipment, Construction Equipment Sales and Service',
       'Privately Owned', 'Heavy Manufacturing', 'Light Manufacturing',
       'Utility', 'Shopping Center (Neighborhood, Community)',
       'Five or More Units or Apartments (Any Combination)',
       'Club, Lodge Hall, Fraternal Organization', 'Commercial',
       'Industrial', 'Rights of Way', 'Store', '(unavailable)', 'Desert',
       'Rivers and Lakes', 'Open Storage', 'Double, Duplex, or Two Units',
       'Waste', 'Three Units (Any Combination)',
       'Parking Lot (Industrial Use Property)', ' ', 'Golf Course',
       'Store Combination', 'Church', 'Petroleum and Gas',
       'Four Units  (Any Combination)', 'Shopping Center (Regional)',
       'Homes for Aged and Others', 'Mineral Processing',
       "Children's Day Care Center", 'Restaurant, Cocktail Lounge',
       'Professional Building', 'Bowling Alley', 'School (Private)',
       'Supermarket', 'Service Station',
       'Warehousing, Distribution, Storage', 'Hospital',
       'Hotel and Motel', 'Manufactured Home',
       'Cemetery, Mausoleum, Mortuary', 'Animal Kennel',
       'Non-Auto Service and Repair Shop, Paint Shop, or Laundry',
       'Bank, Savings and Loan', 'Department Store',
       'Athletic and Amusement Facility', 'College, University (Private)',
       'Nursery or Greenhouse', 'Skating Rink', 'Manufactured Home Park',
       'Theater', 'Lumber Yard', 'Food Processing Plant',
       'Rooming/Boarding House', 'Wholesale and Manufacturing Outlet',
       'Dump Site', 'Poultry, etc.', 'Dairy', 'Race Track',
       'Pipeline, Canal', 'Camp', 'Pasture', 'Fruits and Nuts',
       'Water Recreation', 'Senior Day Care Center', 'Field Crops'],
      dtype=object)

###Handling Missing Values in ["net_value"]

In [ ]:
#this is good to go
records_df['net_value'].isnull().sum()

0

###Handling Missing Values in ["zip_code"]

In [ ]:
#good to go
records_df['zip_code'].unique()

array([   nan, 91356., 91606., 91601., 90291., 90034., 91335., 91306.,
       91367., 91303., 91307., 91364., 91406., 91316., 91411., 91325.,
       91343., 91405., 91402., 90045., 91403., 91401., 90230., 91423.,
       91436., 91346., 90210., 90077., 90049., 91605., 91352., 91331.,
       90001., 90066., 91066., 99606., 91006., 90068., 91607., 91602.,
       91604., 91499., 91342., 90046., 91340., 91040., 91311., 91042.,
       91024., 91214., 91344., 91345., 91353., 91504., 91505., 93510.,
       91612., 90601., 91608., 90064., 91387., 91324., 91329., 91326.,
       93063., 91330., 91304., 91301., 90043., 90056., 90302., 90047.,
       90036., 90293., 90040., 90009., 90304., 90245., 90016., 90232.,
       90025., 90094., 90292., 90041., 90042., 90015., 90057., 90011.,
       90005., 90063., 90012., 92008., 90037., 90031., 90006., 90065.,
       90023., 90019., 90013., 90014., 95648., 90017., 90405., 90026.,
       90007., 90402., 90403., 90297., 90035., 90067., 90024., 90212.,
       90048., 90069., 90211., 90062., 94513., 90095., 90039., 90027.,
       90631., 90022., 90272., 90020., 94707., 90270., 90053., 90290.,
       90265., 90044., 90003., 90058., 90018., 90008., 90240., 90089.,
       90028., 90021., 90029., 90010., 90038., 90004., 90079., 90071.,
       90033., 92806., 92801., 90032., 91204., 91205., 91030., 91201.,
       91206., 91105., 91101., 90209., 90052., 90002., 90059., 90061.,
       90051., 90248., 90501., 90247., 90744., 90745., 90813., 90810.,
       90746., 90502., 90731., 90717., 90710., 90712., 90732., 90701.,
       90734., 90815., 92805., 90748., 90733., 90822., 90275., 92802.,
       91302.])

###Dropping Data w/o Zip Codes

In [ ]:
records_df = records_df[records_df['zip_code'].notna()]

In [ ]:
records_df = records_df.reset_index()
records_df = records_df.drop(columns=['index'])

##Consistency
Now that I've handles missing values, I will check consistency over: 


1.   Data type
2.   Categorical 
2.  Referential integrity

###Data type

In [ ]:
records_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 751602 entries, 0 to 751601
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   level_0       751602 non-null  int64
 1   city          751602 non-null  object
 2   year          751602 non-null  int64
 3   assessor_id   751602 non-null  category
 4   general_use   751602 non-null  category
 5   specific_use  751602 non-null  category
 6   net_value     751602 non-null  int64
 7   zip_code      751602 non-null  int64
dtypes: category(3), int64(4), object(1)
memory usage: 58.7+ MB

In [ ]:
#changing to category type 
records_df["assessor_id"] = records_df["assessor_id"].astype("category")
records_df["general_use"] = records_df["general_use"].astype("category")
records_df["specific_use"] = records_df["specific_use"].astype("category")

#since all NaN have been removed, change type of zip code column to int. this may change later
records_df["zip_code"] = records_df["zip_code"].astype("int")

#change year to datetime format
records_df["year"] = pd.to_datetime(records_df['year'], format='%Y')

In [ ]:
records_df["year"] = records_df["year"].dt.year

In [ ]:
records_df

         index         city  year  ...             specific_use net_value zip_code
0           17  LOS ANGELES  2011  ...  Single Family Residence    748233    91356
1          122  LOS ANGELES  2011  ...                    Store    200000    91606
2          137  LOS ANGELES  2011  ...               Commercial    106190    91601
3          424  LOS ANGELES  2011  ...  Single Family Residence    918000    90291
4          436  LOS ANGELES  2011  ...  Single Family Residence   3750000    90291
...        ...          ...   ...  ...                      ...       ...      ...
751597  793187  LOS ANGELES  2011  ...  Single Family Residence    295900    91335
751598  793188  LOS ANGELES  2011  ...  Single Family Residence     63297    91335
751599  793189  LOS ANGELES  2011  ...  Single Family Residence    276700    91335
751600  793190  LOS ANGELES  2011  ...  Single Family Residence    288000    91335
751601  793191  LOS ANGELES  2011  ...  Single Family Residence     62532    91335

[751602 rows x 8 columns]

In [ ]:
records_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 751602 entries, 0 to 751601
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   level_0       751602 non-null  int64
 1   city          751602 non-null  object
 2   year          751602 non-null  int64
 3   assessor_id   751602 non-null  category
 4   general_use   751602 non-null  category
 5   specific_use  751602 non-null  category
 6   net_value     751602 non-null  int64
 7   zip_code      751602 non-null  int64
dtypes: category(3), int64(4), object(1)
memory usage: 58.7+ MB

###Categorical Consistency

In [ ]:
#consistent 
records_df["general_use"].unique()

['Residential', 'Commercial', 'Institutional', 'Recreational', 'Industrial', 'Miscellaneous', '(unavailable)', 'Irrigated Farm', 'Dry Farm']
Categories (9, object): ['Residential', 'Commercial', 'Institutional', 'Recreational', ...,
                         'Miscellaneous', '(unavailable)', 'Irrigated Farm', 'Dry Farm']

In [ ]:
#consistent 
records_df["specific_use"]

0         Single Family Residence
1                           Store
2                      Commercial
3         Single Family Residence
4         Single Family Residence
                   ...
751597    Single Family Residence
751598    Single Family Residence
751599    Single Family Residence
751600    Single Family Residence
751601    Single Family Residence
Name: specific_use, Length: 751602, dtype: category
Categories (69, object): [' ', '(unavailable)', 'Animal Kennel',
                          'Athletic and Amusement Facility', ..., 'Warehousing, Distribution, Storage', 'Waste',
                          'Water Recreation', 'Wholesale and Manufacturing Outlet']

###  Referential integrity

In [ ]:
#making the assessor_id a unique ID per parcel per year
records_df['assessor_id'] = records_df["assessor_id"].apply(lambda x: x +"-2011")

In [ ]:
records_df

        level_0         city  ...  net_value zip_code
0             0  LOS ANGELES  ...     748233    91356
1             1  LOS ANGELES  ...     200000    91606
2             2  LOS ANGELES  ...     106190    91601
3             3  LOS ANGELES  ...     918000    90291
4             4  LOS ANGELES  ...    3750000    90291
...         ...          ...  ...        ...      ...
751597   751597  LOS ANGELES  ...     295900    91335
751598   751598  LOS ANGELES  ...      63297    91335
751599   751599  LOS ANGELES  ...     276700    91335
751600   751600  LOS ANGELES  ...     288000    91335
751601   751601  LOS ANGELES  ...      62532    91335

[751602 rows x 8 columns]

In [ ]:
records_df = records_df.drop(columns=["level_0"])

In [ ]:
records_df

               city  year  ... net_value zip_code
0       LOS ANGELES  2011  ...    748233    91356
1       LOS ANGELES  2011  ...    200000    91606
2       LOS ANGELES  2011  ...    106190    91601
3       LOS ANGELES  2011  ...    918000    90291
4       LOS ANGELES  2011  ...   3750000    90291
...             ...   ...  ...       ...      ...
751597  LOS ANGELES  2011  ...    295900    91335
751598  LOS ANGELES  2011  ...     63297    91335
751599  LOS ANGELES  2011  ...    276700    91335
751600  LOS ANGELES  2011  ...    288000    91335
751601  LOS ANGELES  2011  ...     62532    91335

[751602 rows x 7 columns]

##Exporting Data

In [ ]:
records_df.to_csv("gdrive/My Drive/Team 93 Capstone Project/data/Assessor_Parcels_Data_2011_CLEANED.csv")