<a href="https://colab.research.google.com/github/sorayabailey23/Group-93/blob/main/Assessor_Data_Cleaning_2015.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assessor Data Cleaning - 2015

---

In [1]:
#importing libraries + drive

from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
import numpy as np
import pandas as pd
import math

##Uploading + Exploring the Data 

I'll first upload the raw data and see what features it includes.

In [3]:
#Importing data from 2014 in Los Angeles 
records_df = pd.read_csv("gdrive/My Drive/Team 93 Capstone Project/data/Assessor_Parcels_Data_2015.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (37) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
records_df.head()

   Unnamed: 0 situszip  ... propertylocation  situszip5
0           0           ...              NaN        NaN
1           1           ...              NaN        NaN
2           2           ...              NaN        NaN
3           3           ...              NaN        NaN
4           4           ...              NaN        NaN

[5 rows x 52 columns]

In [5]:
records_df.columns

Index(['Unnamed: 0', 'situszip', 'taxratearea_city', 'ain', 'rollyear',
       'taxratearea', 'assessorid', 'usetype', 'usecode', 'usecodedescchar1',
       'usecodedescchar2', 'usecodedescchar3', 'usecodedescchar4',
       'totbuildingdatalines', 'yearbuilt', 'effectiveyearbuilt', 'sqftmain',
       'bedrooms', 'bathrooms', 'units', 'recordingdate', 'roll_landvalue',
       'roll_landbaseyear', 'roll_impvalue', 'roll_impbaseyear',
       'roll_totlandimp', 'roll_homeownersexemp', 'roll_realestateexemp',
       'roll_fixturevalue', 'roll_fixtureexemp', 'roll_perspropvalue',
       'roll_perspropexemp', 'istaxableparcel', 'roll_totalvalue',
       'roll_totalexemption', 'nettaxablevalue', 'parcelclassification',
       'adminregion', 'cluster', 'parcelboundarydescription', 'situshouseno',
       'situsfraction', 'situsdirection', 'situsstreet', 'situsunit',
       'situscity', 'rowid', 'center_lat', 'center_lon', 'location_1',
       'propertylocation', 'situszip5'],
      dtype='object')

In [6]:
#verifying that we pulled data for the correct city + year 
records_df["taxratearea_city"].unique()

array(['LOS ANGELES'], dtype=object)

In [7]:
records_df["rollyear"].unique()

array([2015])

In [8]:
records_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 795851 entries, 0 to 795850
Data columns (total 52 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Unnamed: 0                 795851 non-null  int64
 1   situszip                   795851 non-null  object
 2   taxratearea_city           795851 non-null  object
 3   ain                        795851 non-null  int64
 4   rollyear                   795851 non-null  int64
 5   taxratearea                795851 non-null  int64
 6   assessorid                 795851 non-null  object
 7   usetype                    795840 non-null  object
 8   usecode                    795851 non-null  object
 9   usecodedescchar1           795840 non-null  object
 10  usecodedescchar2           795840 non-null  object
 11  usecodedescchar3           795840 non-null  object
 12  usecodedescchar4           795840 non-null  object
 13  totbuildingdatalines       795851 non-null  int64
 14  yearbuilt                  795851 non-null  int64
 15  effectiveyearbuilt         795851 non-null  int64
 16  sqftmain                   795851 non-null  int64
 17  bedrooms                   795851 non-null  int64
 18  bathrooms                  795851 non-null  int64
 19  units                      795851 non-null  int64
 20  recordingdate              795851 non-null  int64
 21  roll_landvalue             795851 non-null  int64
 22  roll_landbaseyear          795851 non-null  int64
 23  roll_impvalue              795851 non-null  int64
 24  roll_impbaseyear           795851 non-null  int64
 25  roll_totlandimp            795851 non-null  int64
 26  roll_homeownersexemp       795851 non-null  int64
 27  roll_realestateexemp       795851 non-null  int64
 28  roll_fixturevalue          795851 non-null  int64
 29  roll_fixtureexemp          795851 non-null  int64
 30  roll_perspropvalue         795851 non-null  int64
 31  roll_perspropexemp         795851 non-null  int64
 32  istaxableparcel            795851 non-null  object
 33  roll_totalvalue            795851 non-null  int64
 34  roll_totalexemption        795851 non-null  int64
 35  nettaxablevalue            795851 non-null  int64
 36  parcelclassification       795851 non-null  object
 37  adminregion                795851 non-null  object
 38  cluster                    795851 non-null  int64
 39  parcelboundarydescription  795851 non-null  object
 40  situshouseno               795851 non-null  int64
 41  situsfraction              795851 non-null  object
 42  situsdirection             795851 non-null  object
 43  situsstreet                795851 non-null  object
 44  situsunit                  795851 non-null  object
 45  situscity                  795851 non-null  object
 46  rowid                      795851 non-null  int64
 47  center_lat                 795777 non-null  float64
 48  center_lon                 795777 non-null  float64
 49  location_1                 795777 non-null  object
 50  propertylocation           754951 non-null  object
 51  situszip5                  754898 non-null  float64
dtypes: float64(3), int64(29), object(20)
memory usage: 315.7+ MB

## Relevance 

The dataset includes a lot of information that I don't need. For this section, I'll 


1.   Drop the columns that I don't need 
2.   Check the remaining columns for unique values
1.   Handle missing values, including dropping data that does not include zip codes

###Determining which columns to drop

In [9]:
#dropping irrelevant columns

records_df = records_df.drop(columns=['Unnamed: 0', 'situszip','ain',
       'taxratearea', 'usetype', 'usecode','usecodedescchar3', 'usecodedescchar4',
       'totbuildingdatalines', 'yearbuilt', 'effectiveyearbuilt', 'sqftmain',
       'bedrooms', 'bathrooms', 'units', 'recordingdate', 'roll_landvalue',
       'roll_landbaseyear', 'roll_impvalue', 'roll_impbaseyear',
       'roll_totlandimp', 'roll_homeownersexemp', 'roll_realestateexemp',
       'roll_fixturevalue', 'roll_fixtureexemp', 'roll_perspropvalue',
       'roll_perspropexemp', 'istaxableparcel', 'roll_totalvalue',
       'roll_totalexemption',
       'adminregion', 'cluster', 'parcelboundarydescription', 'situshouseno',
       'situsfraction', 'situsdirection', 'situsstreet', 'situsunit',
       'situscity', 'rowid', 'center_lat', 'center_lon', 'location_1','propertylocation', "parcelclassification"])

In [10]:
records_df.head()

  taxratearea_city  rollyear  ... nettaxablevalue situszip5
0      LOS ANGELES      2015  ...               0       NaN
1      LOS ANGELES      2015  ...               0       NaN
2      LOS ANGELES      2015  ...           42410       NaN
3      LOS ANGELES      2015  ...               0       NaN
4      LOS ANGELES      2015  ...           28000       NaN

[5 rows x 7 columns]

In [11]:
#renaming columns to more recongizable names
records_df.columns=["city", "year", "assessor_id","general_use", "specific_use","net_value", "zip_code"]

###Handling Missing Values in ["assessor_id"] (none!)

In [12]:
len(records_df['assessor_id'].unique())

795851

In [13]:
records_df['assessor_id'].isnull().sum()

0

In [ ]:
#this series is good to go

### Handling Missing Values in ["general_use"]

In [14]:
#we have entries w/ nan and (unavailable) string
records_df["general_use"].unique()

array(['Miscellaneous', 'Industrial', 'Residential', 'Commercial',
       'Institutional', '(unavailable)', 'Recreational', 'Dry Farm', nan,
       'Irrigated Farm'], dtype=object)

In [15]:
#checking how many nans in general_use
records_df['general_use'].isnull().sum()

11

In [16]:
#replacing nan with (unavailable)
records_df["general_use"] = records_df["general_use"].fillna('(unavailable)')
records_df["general_use"].unique()

array(['Miscellaneous', 'Industrial', 'Residential', 'Commercial',
       'Institutional', '(unavailable)', 'Recreational', 'Dry Farm',
       'Irrigated Farm'], dtype=object)

###Handling Missing Values in ["specific_use"]

In [17]:
#there is an empty string in this column that we should replace with nan or Not Available 
records_df["specific_use"].unique()

array(['Government Owned Property', 'Industrial',
       'Single Family Residence', 'Heavy Manufacturing',
       'Five or More Units or Apartments (Any Combination)',
       'Parking Lot (Commercial Use Property)', 'Department Store',
       'Office Building',
       'Auto, Recreation Equipment, Construction Equipment Sales and Service',
       'Commercial', 'Utility', 'Church', 'Privately Owned',
       'Light Manufacturing', '(unavailable)', 'Golf Course',
       'Rivers and Lakes', 'Shopping Center (Regional)', 'Open Storage',
       'Shopping Center (Neighborhood, Community)', 'School (Private)',
       'Cemetery, Mausoleum, Mortuary', 'Waste',
       'Three Units (Any Combination)', 'Double, Duplex, or Two Units',
       'Parking Lot (Industrial Use Property)', 'Pasture',
       'Warehousing, Distribution, Storage', 'Store',
       'College, University (Private)', ' ',
       'Four Units  (Any Combination)', 'Petroleum and Gas', 'Hospital',
       'Store Combination',
       'Motion Picture, Radio and Television Industry',
       'Manufactured Home Park', nan, "Children's Day Care Center",
       'Restaurant, Cocktail Lounge', 'Bowling Alley',
       'Professional Building',
       'Club, Lodge Hall, Fraternal Organization', 'Service Station',
       'Hotel and Motel', 'Manufactured Home', 'Animal Kennel',
       'Non-Auto Service and Repair Shop, Paint Shop, or Laundry',
       'Bank, Savings and Loan', 'Athletic and Amusement Facility',
       'Homes for Aged and Others', 'Nursery or Greenhouse',
       'Supermarket', 'Skating Rink', 'Theater', 'Lumber Yard',
       'Food Processing Plant', 'Rights of Way', 'Rooming/Boarding House',
       'Mineral Processing', 'Wholesale and Manufacturing Outlet',
       'Dump Site', 'Poultry, etc.', 'Desert', 'Dairy', 'Race Track',
       'Senior Day Care Center', 'Pipeline, Canal', 'Camp',
       'Fruits and Nuts', 'Water Recreation', 'Field Crops'], dtype=object)

In [18]:
records_df["specific_use"]= records_df["specific_use"].fillna('(unavailable)')

In [19]:
records_df["specific_use"].unique()

array(['Government Owned Property', 'Industrial',
       'Single Family Residence', 'Heavy Manufacturing',
       'Five or More Units or Apartments (Any Combination)',
       'Parking Lot (Commercial Use Property)', 'Department Store',
       'Office Building',
       'Auto, Recreation Equipment, Construction Equipment Sales and Service',
       'Commercial', 'Utility', 'Church', 'Privately Owned',
       'Light Manufacturing', '(unavailable)', 'Golf Course',
       'Rivers and Lakes', 'Shopping Center (Regional)', 'Open Storage',
       'Shopping Center (Neighborhood, Community)', 'School (Private)',
       'Cemetery, Mausoleum, Mortuary', 'Waste',
       'Three Units (Any Combination)', 'Double, Duplex, or Two Units',
       'Parking Lot (Industrial Use Property)', 'Pasture',
       'Warehousing, Distribution, Storage', 'Store',
       'College, University (Private)', ' ',
       'Four Units  (Any Combination)', 'Petroleum and Gas', 'Hospital',
       'Store Combination',
       'Motion Picture, Radio and Television Industry',
       'Manufactured Home Park', "Children's Day Care Center",
       'Restaurant, Cocktail Lounge', 'Bowling Alley',
       'Professional Building',
       'Club, Lodge Hall, Fraternal Organization', 'Service Station',
       'Hotel and Motel', 'Manufactured Home', 'Animal Kennel',
       'Non-Auto Service and Repair Shop, Paint Shop, or Laundry',
       'Bank, Savings and Loan', 'Athletic and Amusement Facility',
       'Homes for Aged and Others', 'Nursery or Greenhouse',
       'Supermarket', 'Skating Rink', 'Theater', 'Lumber Yard',
       'Food Processing Plant', 'Rights of Way', 'Rooming/Boarding House',
       'Mineral Processing', 'Wholesale and Manufacturing Outlet',
       'Dump Site', 'Poultry, etc.', 'Desert', 'Dairy', 'Race Track',
       'Senior Day Care Center', 'Pipeline, Canal', 'Camp',
       'Fruits and Nuts', 'Water Recreation', 'Field Crops'], dtype=object)

###Handling Missing Values in ["net_value"]

In [20]:
#this is good to go
records_df['net_value'].isnull().sum()

0

###Handling Missing Values in ["zip_code"]

In [21]:
#good to go
records_df['zip_code'].unique()

array([   nan, 91316., 90045., 90291., 90043., 90069., 90003., 91335.,
       91306., 91367., 91303., 91307., 91364., 91356., 91406., 91402.,
       91411., 91325., 91405., 91343., 91423., 91401., 90230., 91403.,
       91436., 91346., 90210., 91602., 91243., 90077., 90049., 91605.,
       91352., 91331., 90001., 91606., 90066., 91066., 99606., 91006.,
       91601., 90068., 91607., 91604., 91499., 91064., 91342., 90046.,
       91340., 91040., 91311., 91042., 91024., 90057., 91214., 91344.,
       91345., 91353., 91504., 91505., 93510., 91612., 90601., 91608.,
       90064., 91387., 91329., 91326., 91362., 93063., 91324., 91330.,
       91304., 91301., 90056., 90302., 90047., 90036., 90293., 90040.,
       90009., 90245., 90016., 90232., 90034., 90094., 90292., 90041.,
       90015., 90011., 90005., 90063., 92008., 90037., 90031., 90006.,
       90023., 90012., 90019., 90065., 90013., 90014., 95648., 90017.,
       90405., 90025., 90026., 90402., 90403., 90297., 90290., 90035.,
       90067., 90024., 90212., 90048., 90211., 90062., 94513., 90095.,
       90039., 90631., 90027., 90022., 90272., 90020., 94707., 90270.,
       90053., 90265., 90044., 90042., 90058., 90018., 90008., 90007.,
       90089., 90028., 90021., 90029., 90010., 90038., 90004., 90079.,
       90071., 90033., 92806., 90032., 91204., 91205., 91030., 91201.,
       91206., 91105., 91101., 90209., 90052., 90002., 90059., 90239.,
       90061., 90051., 90248., 90501., 90247., 90744., 90813., 90745.,
       90810., 90746., 90502., 90717., 90710., 90712., 90732., 90731.,
       90734., 90815., 92805., 90748., 90733., 90822., 90275., 92802.,
       91302.])

###Dropping Data w/o Zip Codes

In [22]:
records_df = records_df[records_df['zip_code'].notna()]

In [23]:
records_df = records_df.reset_index()
records_df = records_df.drop(columns=['index'])

##Consistency
Now that I've handles missing values, I will check consistency over: 


1.   Data type
2.   Categorical 
2.  Referential integrity

###Data type

In [24]:
records_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 754898 entries, 0 to 754897
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   city          754898 non-null  object
 1   year          754898 non-null  int64
 2   assessor_id   754898 non-null  object
 3   general_use   754898 non-null  object
 4   specific_use  754898 non-null  object
 5   net_value     754898 non-null  int64
 6   zip_code      754898 non-null  float64
dtypes: float64(1), int64(2), object(4)
memory usage: 40.3+ MB

In [25]:
#changing to category type 
records_df["assessor_id"] = records_df["assessor_id"].astype("category")
records_df["general_use"] = records_df["general_use"].astype("category")
records_df["specific_use"] = records_df["specific_use"].astype("category")

#since all NaN have been removed, change type of zip code column to int. this may change later
records_df["zip_code"] = records_df["zip_code"].astype("int")

#change year to datetime format
records_df["year"] = pd.to_datetime(records_df['year'], format='%Y')

In [26]:
records_df["year"] = records_df["year"].dt.year

In [27]:
records_df

               city  year  ... net_value zip_code
0       LOS ANGELES  2015  ...   2361783    91316
1       LOS ANGELES  2015  ...    562900    90045
2       LOS ANGELES  2015  ...    819688    90291
3       LOS ANGELES  2015  ...    286890    90043
4       LOS ANGELES  2015  ...   1754670    90069
...             ...   ...  ...       ...      ...
754893  LOS ANGELES  2015  ...    478000    91335
754894  LOS ANGELES  2015  ...    404000    91335
754895  LOS ANGELES  2015  ...     67472    91335
754896  LOS ANGELES  2015  ...    343439    91335
754897  LOS ANGELES  2015  ...     66656    91335

[754898 rows x 7 columns]

In [28]:
records_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 754898 entries, 0 to 754897
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   city          754898 non-null  object
 1   year          754898 non-null  int64
 2   assessor_id   754898 non-null  category
 3   general_use   754898 non-null  category
 4   specific_use  754898 non-null  category
 5   net_value     754898 non-null  int64
 6   zip_code      754898 non-null  int64
dtypes: category(3), int64(3), object(1)
memory usage: 53.1+ MB

###Categorical Consistency

In [29]:
#consistent 
records_df["general_use"].unique()

['Commercial', 'Residential', 'Institutional', 'Recreational', 'Industrial', 'Miscellaneous', '(unavailable)', 'Irrigated Farm', 'Dry Farm']
Categories (9, object): ['Commercial', 'Residential', 'Institutional', 'Recreational', ...,
                         'Miscellaneous', '(unavailable)', 'Irrigated Farm', 'Dry Farm']

In [30]:
#consistent 
records_df["specific_use"]

0                 Office Building
1         Single Family Residence
2                      Commercial
3                      Commercial
4         Single Family Residence
                   ...
754893    Single Family Residence
754894    Single Family Residence
754895    Single Family Residence
754896    Single Family Residence
754897    Single Family Residence
Name: specific_use, Length: 754898, dtype: category
Categories (68, object): [' ', '(unavailable)', 'Animal Kennel',
                          'Athletic and Amusement Facility', ..., 'Warehousing, Distribution, Storage', 'Waste',
                          'Water Recreation', 'Wholesale and Manufacturing Outlet']

###  Referential integrity

In [31]:
#making the assessor_id a unique ID per parcel per year
records_df['assessor_id'] = records_df["assessor_id"].apply(lambda x: x +"-2015")

In [32]:
records_df

               city  year  ... net_value zip_code
0       LOS ANGELES  2015  ...   2361783    91316
1       LOS ANGELES  2015  ...    562900    90045
2       LOS ANGELES  2015  ...    819688    90291
3       LOS ANGELES  2015  ...    286890    90043
4       LOS ANGELES  2015  ...   1754670    90069
...             ...   ...  ...       ...      ...
754893  LOS ANGELES  2015  ...    478000    91335
754894  LOS ANGELES  2015  ...    404000    91335
754895  LOS ANGELES  2015  ...     67472    91335
754896  LOS ANGELES  2015  ...    343439    91335
754897  LOS ANGELES  2015  ...     66656    91335

[754898 rows x 7 columns]

##Exporting Data

In [33]:
records_df.to_csv("gdrive/My Drive/Team 93 Capstone Project/data/Assessor_Parcels_Data_2015_CLEANED.csv")